<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title contact
    body
        nav
            ul
                li 
                    a(href="/") Home page
                li 
                    a(href="/services") Our services
                li(style="float:right") 
                    a(class="active" href="/contact") Contact us
        h1(style="color:#4CAF50") Contact us
        h2 Phone number: +216 *** ***
        h2 email: email@gmail.com
        img(src="https://tunilab.com/wp-content/uploads/2020/04/contactus.jpg", alt="contact" style="width:500px ; border-radius: 5px;")