<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title services
    body
        nav
            ul
                li 
                    a(href="/") Home page
                li 
                    a(href="/services") Our services
                li(style="float:right")
                    a(class="active" href="/contact") Contact us
        h1(style="color:rgb(115, 215, 238)") Our services
        h2 For maximum reliability and a long-term operational availability
        p Whether you need prompt assistance over the telephone, replacement of a particular component, an inspection or maintenance, our service teams act quickly and provide you with first-class support, round the clock, at any location and over the whole life-cycle of your installation. We always endeavour to keep your total cost of ownership as low as possible.
        img(src="https://miro.medium.com/max/1028/1*F6rAPPRNJYB_MDJSQtKbXw.jpeg", alt="services" style="width: 300px;")